<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>500838922391-tcj99ai8kujkqla2amqfebdsnk5crh4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500838922391-tcj99ai8kujkqla2amqfebdsnk5crh4q</string>
	<key>API_KEY</key>
	<string>AIzaSyBpt9ACeH_QAn_HVSUqlObuu40vDOUEPIA</string>
	<key>GCM_SENDER_ID</key>
	<string>500838922391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yigit.FirebaseTutorial</string>
	<key>PROJECT_ID</key>
	<string>sample-authentication-809ec</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-authentication-809ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500838922391:ios:cfff146f029bf36c</string>
	<key>DATABASE_URL</key>
	<string>https://sample-authentication-809ec.firebaseio.com</string>
</dict>
</plist>